<main class="main">
  <div class="content">
    <img id="img-uphf" src="assets/images/uphf.png" alt="UPHF" />
    <div id="bot-button" (click)="toggleChat()">
      <mat-icon
        aria-hidden="false"
        aria-label="smart_toy"
        fontIcon="smart_toy"
      ></mat-icon>
    </div>

    <div id="chat-container">
      <div id="chat-header">
        <div id="chat-header-text">UPHF AI Chatbot</div>
        <div id="close-button" (click)="toggleChat()">
          <mat-icon
            class="tertiary-color"
            id="close-icon"
            aria-hidden="false"
            aria-label="close"
            fontIcon="close"
          ></mat-icon>
        </div>
      </div>
      <div id="chat-content">
        <div id="chat-messages">
          <div id="chat-message-ai">
            <div id="chat-message-ai-photo-container">
              <div id="chat-message-ai-photo">
                <mat-icon
                  aria-hidden="false"
                  aria-label="smart_toy"
                  fontIcon="smart_toy"
                ></mat-icon>
              </div>
            </div>
            <p id="chat-message-ai-content">
              Bonjour, je suis l'assistant virtuel de l'UPHF. Comment puis-je
              vous aider ?
            </p>
          </div>
          <ul id="chat-recommandation-container">
            <li id="chat-recommandation">Combien coûte l'inscription ?</li>
            <li id="chat-recommandation">
              Quelles sont les formations proposées ?
            </li>
            <li id="chat-recommandation">
              Quelles sont les coordonnées du centre médical ?
            </li>
          </ul>
        </div>
        <div id="chat-input">
          <input
            id="chat-input-box"
            type="text"
            placeholder="Posez une question..."
            (keyup.enter)="sendMessage()"
            autocomplete="off"
          />

          <div id="send-button" (click)="sendMessage()">
            <mat-icon
              aria-hidden="false"
              aria-label="send"
              fontIcon="send"
            ></mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<router-outlet />
