<main class="main">
  <div class="content">
    <img
      id="img-saclay"
      src="assets/images/saclay.png"
      alt="Logo Paris Saclay"
    />

    <div id="bot-button" (click)="toggleChat()">
      <img src="assets/images/white_bot.png" width="40px" />
    </div>

    <div id="chat-container">
      <div id="chat-header">
        <div id="chat-header-text"><h1>Saclay AI Chatbot</h1></div>
        <div id="close-button" (click)="toggleChat()">
          <mat-icon
            class="tertiary-color"
            id="close-icon"
            aria-hidden="false"
            aria-label="close"
            fontIcon="close"
          ></mat-icon>
        </div>
      </div>
      <div id="chat-content">
        <div id="chat-messages">
          <div class="chat-message-ai">
            <div class="chat-message-ai-photo-container">
              <div class="chat-message-ai-photo">
                <img src="assets/images/bot_png.png" width="40px" />
              </div>
            </div>
            <p class="chat-message-ai-content">
              Bonjour, je suis l'assistant virtuel de l'université de Paris
              Saclay. Comment puis-je vous aider ?
            </p>
          </div>
          <div *ngIf="isHuman" id="chat-recommandation-container">
            <p id="chat-recommandation-title">
              Exemples de questions à poser :
            </p>
            <ul id="chat-recommandation-list">
              <li
                id="chat-recommandation"
                (click)="sendMessage('Combien coûte l\'inscription ?')"
              >
                Combien coûte l'inscription à l'université ?
              </li>
              <li
                id="chat-recommandation"
                (click)="sendMessage('Quelles sont les formations proposées ?')"
              >
                Quelles sont les formations proposées ?
              </li>
              <li
                id="chat-recommandation"
                (click)="
                  sendMessage(
                    'Quelles sont les coordonnées du centre médical ?'
                  )
                "
              >
                Quelles sont les coordonnées du centre médical ?
              </li>
            </ul>
          </div>
        </div>
        <div id="chat-input">
          <div *ngIf="!isHuman" id="captcha-container">
            <re-captcha
              (resolved)="captchaResolved()"
              siteKey="6Le2bPEpAAAAAHPcxfEB4eIesajSXuRlZ6xTFqOU"
            ></re-captcha>
          </div>
          <input
            *ngIf="isHuman"
            id="chat-input-box"
            type="text"
            placeholder="Posez une question..."
            (keyup.enter)="sendMessageInput()"
            autocomplete="off"
          />

          <div *ngIf="isHuman" id="send-button" (click)="sendMessageInput()">
            <mat-icon
              aria-hidden="false"
              aria-label="send"
              fontIcon="send"
            ></mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<router-outlet />
